.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem 6.875rem 3rem 6.875rem;
}

.flexDiv{
    display: flex;
    flex-direction: row;
    gap: 2.8125rem
}